PORT=3000
APP_MODE=sandbox
APP_URL=https://01pix.com
APP_SECRET=sk_live_d5489a7dcc9a472b877f93edd2fde7a32f48c1baa2e3d50311799d8780be73a7
ACCESS_KEY=pk_live_1f0590e955a521a6a85e73b03e10aa45
WEBHOOK_SECRET=defina_um_segredo_no_dashboard
RETURN_URL=
REMOTE_URL=
HOLDER_NAME=Cliente Padrao
HOLDER_MAIL=cliente@exemplo.com
HOLDER_PHONE=11999999999
HOLDER_DOC_KIND=cpf
HOLDER_DOC_ID=12345678901
ITEM_NAME=Pagamento
