PORT=3000
APP_MODE=sandbox
APP_URL=https://01pix.com
APP_SECRET=gere_um_segredo_interno_com_openssl_rand_hex_32
AUTOMATION_TOKEN=gere_um_token_forte_para_n8n
ACCESS_KEY=sua_sk_do_gateway
WEBHOOK_SECRET= a49a7dcc9a472b877f93edd2fde7a32f48c1baa2e3d50311799d8780be73a7
RETURN_URL=
WEBHOOK_SECRET= a49a7dcc9a472b877f93edd2fde7a32f48c1baa2e3d50311799d8780be73a7

REMOTE_URL=
HOLDER_NAME=Nome da Empresa
HOLDER_MAIL=financeiro@empresa.com
HOLDER_PHONE=11999999999
HOLDER_DOC_KIND=cpf
HOLDER_DOC_ID=12345678901
ITEM_NAME=Pagamento
