PORT=3000
APP_MODE=sandbox
APP_URL=https://01pix.com
APP_SECRET=gere_um_segredo_interno_com_openssl_rand_hex_32
AUTOMATION_TOKEN=gere_um_token_forte_para_n8n
ACCESS_KEY=sua_sk_do_gateway
WEBHOOK_SECRET=defina_um_segredo_no_dashboard
RETURN_URL=
REMOTE_URL=
HOLDER_NAME=Nome da Empresa
HOLDER_MAIL=financeiro@empresa.com
HOLDER_PHONE=11999999999
HOLDER_DOC_KIND=cpf
HOLDER_DOC_ID=12345678901
ITEM_NAME=Pagamento
